<section class="sidebar">
  <div class="logo">
    <div class="techbridge">
      <span>
        <img src="/assets/icons/techbridge.svg" alt="quantlogo">
      </span>

      <span>TechBridge IMS</span>
    </div>

    <div class="sidebar_toggle">
      <div class="black_box">
        <span>
          <img src="/assets/icons/sidebar_toggle.svg" alt="toggle" class="toggler">
        </span>
      </div>
    </div>
  </div>

  {{#if (eq credentials.lab "design_studio")}}
    <div class="pages">
      <a href="/dashboardGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/dashboard.svg" alt="dashboard">
        </span>
        <span>Dashboard</span>
      </a>

      <a href="/ds_inventoryGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/track.svg" alt="sales_analytics">
        </span>
        <span>Inventory</span>
      </a>

      <a href="/ds_eq_sharingGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/asset-sharing.svg" alt="sales_analytics">
        </span>
        <span>Asset sharing</span>
      </a>

      <a href="/projectsGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/collections-folder.svg" alt="collections-folder">
        </span>
        <span>Projects</span>
      </a>

      <a href="/ds_bookingsGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/insights.svg" alt="insights">
        </span>
        <span>Bookings</span>
      </a>

      <a href="/settingsGet" class="page_link ndlast">
        <span>
          <img src="/assets/pagelinks/settings.svg" alt="settings">
        </span>
        <span>Settings</span>
      </a>

      {{#if (eq credentials.role "admin")}}
        <a href="/accountsGet" class="page_link">
          <span>
            <img src="/assets/pagelinks/account_management.svg" alt="account_management">
          </span>
          <span>User Management</span>
        </a>
      {{/if}}
    </div>
  {{/if}}

  {{#if (eq credentials.lab "cezeri")}}
    <div class="pages">
      <a href="/dashboardGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/dashboard.svg" alt="dashboard">
        </span>
        <span>Dashboard</span>
      </a>

      <a href="/cz_inventoryGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/track.svg" alt="sales_analytics">
        </span>
        <span>Inventory</span>
      </a>

      <a href="/cz_eq_sharingGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/asset-sharing.svg" alt="sales_analytics">
        </span>
        <span>Asset sharing</span>
      </a>

      <a href="/projectsGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/collections-folder.svg" alt="collections-folder">
        </span>
        <span>Projects</span>
      </a>

      <a href="/cz_bookingsGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/insights.svg" alt="insights">
        </span>
        <span>Bookings</span>
      </a>

      <a href="/settingsGet" class="page_link ndlast">
        <span>
          <img src="/assets/pagelinks/settings.svg" alt="settings">
        </span>
        <span>Settings</span>
      </a>

      {{#if (eq credentials.role "admin")}}
        <a href="/accountsGet" class="page_link">
          <span>
            <img src="/assets/pagelinks/account_management.svg" alt="account_management">
          </span>
          <span>User Management</span>
        </a>
      {{/if}}
    </div>
  {{/if}}

  {{#if (eq credentials.lab "medtech")}}
    <div class="pages">
      <a href="/dashboardGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/dashboard.svg" alt="dashboard">
        </span>
        <span>Dashboard</span>
      </a>

      <a href="/mt_inventoryGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/track.svg" alt="sales_analytics">
        </span>
        <span>Inventory</span>
      </a>

      <a href="/mt_eq_sharingGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/asset-sharing.svg" alt="sales_analytics">
        </span>
        <span>Asset sharing</span>
      </a>

      <a href="/projectsGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/collections-folder.svg" alt="collections-folder">
        </span>
        <span>Projects</span>
      </a>

      <a href="/mt_bookingsGet" class="page_link">
        <span>
          <img src="/assets/pagelinks/insights.svg" alt="insights">
        </span>
        <span>Bookings</span>
      </a>

      <a href="/settingsGet" class="page_link ndlast">
        <span>
          <img src="/assets/pagelinks/settings.svg" alt="settings">
        </span>
        <span>Settings</span>
      </a>

      {{#if (eq credentials.role "admin")}}
        <a href="/accountsGet" class="page_link">
          <span>
            <img src="/assets/pagelinks/account_management.svg" alt="account_management">
          </span>
          <span>User Management</span>
        </a>
      {{/if}}
    </div>
  {{/if}}
</section>