<section class="sidebar">
  <div class="logo">
    <div class="techbridge">
      <span>
        <img src="assets/icons/techbridge.svg" alt="quantlogo">
      </span>

      <span>TechBridge IMS</span>
    </div>

    <div class="sidebar_toggle">
      <div class="black_box">
        <span>
          <img src="assets/icons/sidebar_toggle.svg" alt="toggle" class="toggler">
        </span>
      </div>
    </div>
  </div>

  <div class="pages">
    <a href="/dashboardGet" class="page_link">
      <span>
        <img src="assets/pagelinks/dashboard.svg" alt="dashboard">
      </span>
      <span>Dashboard</span>
    </a>

    <div class="page_group">
      <h5 class="p_g_head">INVENTORY</h5>
      <a href="/inventoryGet" class="page_link">
        <span>
          <img src="assets/pagelinks/track.svg" alt="sales_analytics">
        </span>
        <span>Equipment tracking</span>
      </a>

      <a href="/consumablesGet" class="page_link">
        <span>
          <img src="assets/pagelinks/consumables.svg" alt="sales_analytics">
        </span>
        <span>Consumables</span>
      </a>

      <a href="/inventorylogsGet" class="page_link">
        <span>
          <img src="assets/pagelinks/logs.svg" alt="sales_analytics">
        </span>
        <span>Logs</span>
      </a>
    </div>

    <a href="/assetsharingGet" class="page_link">
      <span>
        <img src="assets/pagelinks/asset-sharing.svg" alt="sales_analytics">
      </span>
      <span>Asset sharing</span>
    </a>

    <a href="/projectsGet" class="page_link">
      <span>
        <img src="assets/pagelinks/collections-folder.svg" alt="collections-folder">
      </span>
      <span>Projects</span>
    </a>

    <a href="/bookingsGet" class="page_link">
      <span>
        <img src="assets/pagelinks/insights.svg" alt="insights">
      </span>
      <span>Bookings</span>
    </a>

    <a href="/settingsGet" class="page_link ndlast">
      <span>
        <img src="assets/pagelinks/settings.svg" alt="settings">
      </span>
      <span>Settings</span>
    </a>

    <a href="/accountsGet" class="page_link">
      <span>
        <img src="assets/pagelinks/account_management.svg" alt="account_management">
      </span>
      <span>Account Management</span>
    </a>
  </div>
</section>