@use "./abstracts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  @include flex(column, center, center);
  min-height: 100vh;
  background-color: #dbdbdb;
}


a{
  text-decoration: none;
}