<section class="container landingPage">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form" id="login_form">
        <div class="app_logo_head_signin">
          <span>TechBridge IMS</span>
          <span>
            <img src="assets/icons/techbridge.svg" alt="techbridge">
          </span>
        </div>

        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <img src="assets/icons/envelope.svg" alt="form_icon">
          <input type="email" placeholder="Email" />
        </div>

        <div class="input-field">
          <img src="assets/icons/show.svg" alt="form_icon" id="toggleSigninPassword">
          <input type="password" placeholder="Password" id="signinPassword"/>
        </div>

        <div class="signup_errors errors">
          {{!-- Errors will dynamically appear here --}}
        </div>

        <input type="submit" value="Login" class="btn solid auth_btn" />
      </form>

      <form class="sign-up-form" id="reg_form">
        <div class="app_logo_head_signup">
          <span>
            <img src="assets/icons/techbridge.svg" alt="techbridge">
          </span>
          <span>TechBridge IMS</span>
        </div>

        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <img src="assets/icons/username.svg" alt="form_icon">
          <input type="text" placeholder="Full name" name="name" />
        </div>

        <div class="input-field">
          <img src="assets/icons/envelope.svg" alt="form_icon">
          <input type="email" placeholder="Email Address" name="email" />
        </div>

        <div class="input-field">
          <img src="assets/icons/phone.svg" alt="form_icon">
          <input type="text" placeholder="Phone number" name="phone" />
        </div>

        <div class="custom_option">
          <img src="assets/icons/role.svg" alt="form_icon">
          <input type="text" placeholder="Select role" name="role" />
          <img src="assets/icons/dropdown.svg" alt="dropdown" class="dropdown">
        </div>
        
        <div class="role_options hidden">
          <div class="role_opt first">Admin</div>
          <div class="role_opt">Lab Manager</div>
          <div class="role_opt">Technician</div>
          <div class="role_opt last">Student</div>
        </div>

        <div class="input-field">
          <img src="assets/icons/show.svg" alt="form_icon" id="toggleSignupPassword">
          <input type="password" placeholder="Create Password" name="password" id="signupPassword"/>
        </div>

        <div class="signup_errors errors">
          {{!-- Errors will dynamically appear here --}}
        </div>

        <input type="submit" class="btn auth_btn" value="Sign up" />
      </form>
    </div>
  </div>

  <div class="panels-container">
    <!-- Left Panel (Sign Up) -->
    <div class="panel left-panel">
      <div class="content">
        <h3>New here?</h3>
        <p>
          Register today to manage projects, book lab equipment, and access shared resources 
          across Kenyatta University’s Design Studio, Cezeri Lab, and MedTech Lab.
        </p>
        <button class="btn transparent" id="sign-up-btn">
          Create an Account
        </button>
      </div>

      <img src="assets/backgrounds/signup.svg" class="panel_image" alt="signup" />
    </div>

    <!-- Right Panel (Sign In) -->
    <div class="panel right-panel">
      <div class="content">
        <h3>Already Registered?</h3>
        <p>
          Sign in to access your dashboard, manage ongoing projects, schedule lab equipment, and collaborate
          with technicians and lab managers in real time.
        </p>
        <button class="btn transparent" id="sign-in-btn">
          Sign In
        </button>
      </div>

      <img src="assets/backgrounds/signin.svg" class="panel_image" alt="signin" />
    </div>
</div>

</section>

<script src="js/landing.js"></script>