@use "../abstracts" as *;

.landingPage{
  width: 100%;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  background-color: $light-bg;
  overflow: hidden;
  min-height: 100vh;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;

  @media(max-width: 1440px){
    top: 41.05%;
  }
  @media(max-width: 1040px){
    top: 47.85%;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.app_logo_head_signin{
  width: 100%;
  @include flex(row, end, center);

  span:nth-child(1){
    font-size: 1.25rem;
    font-weight: 600;
    color: #5a7180;
  }
  span:nth-child(2){
    width: 50px;
    margin-left: .45rem;

    img{
      width: 100%;
    }
  }
  @media(max-width: 800px){
    display: none;
  }
}

.app_logo_head_signup{
  width: 100%;
  @include flex(row, start, center);

  span:nth-child(1){
    width: 50px;
    margin-left: .45rem;

    img{
      width: 100%;
    }
  }
  span:nth-child(2){
    font-size: 1.25rem;
    font-weight: 600;
    color: #5a7180;
  }
  @media(max-width: 900px){
    display: none;
  }
}

.title {
  font-size: 1.8rem;
  color: $form-title;
  margin: 3rem 0 10px 0;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 46px;
  border-radius: 46px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border: 1.5px solid #d4d4d4;

  img {
    transition: 0.5s;
    width: 24px;
    margin: auto;
  }

  input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1rem;
    color: #333;

    &::placeholder {
      color: #aaa;
      font-weight: 500;
    }
  }
}

.custom_option{
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding: 0 0.4rem;
  position: relative;
  border: 1.5px solid #d4d4d4;

  img {
    transition: 0.5s;
    width: 24px;
    margin: auto;
  }

  input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1rem;
    color: #333;

    &::placeholder {
      color: #aaa;
      font-weight: 500;
    }
  }

  .dropdown{
    opacity: .7;
    transition: .5s ease;

    &:hover{
      cursor: pointer;
      opacity: .85;
    }
  }

  .dropdown.dropped{
    transform: rotateZ(180deg);
  }
}

.role_options{
  padding: 0;
  border-radius: 1rem;
  background-color: #eeeeee;
  max-width: 360px;
  width: 100%;
  position: absolute;
  bottom: -1.3rem;
  z-index: 100;

  .role_opt_head{
    padding: .75rem .85rem;
    font-weight: 700;
    color: rgb(112, 191, 255);
    font-size: .9rem;
    border-bottom: 1.5px solid rgb(218, 218, 218);
  }
  .role_opt{
    padding: .65rem .85rem;
    font-weight: 700;
    font-size: .9rem;
    color: rgb(78, 93, 109);
    border-bottom: 1.5px solid rgb(218, 218, 218);
    transition: .25s ease;

    &:hover{
      cursor: pointer;
      background-color: #c0c0c0;
      color: $bg;
    }
  }
  .first{
    border-radius: 1rem 1rem 0 0;
  }
  .last{
    border-bottom: none;
    border-radius: 0 0 1rem 1rem;
  }
}

.hidden{
  display: none;
}

.btn {
  background-color: $primary;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: .75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $primary-bright;
  }
}

.auth_btn{
  width: 150px;
}

.errors {
  color: $errors-light;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.error-message {
  background: #ffdddd;
  padding: 5px 10px;
  border-left: 3px solid $errors-strong;
  margin-bottom: 5px;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(to left top, #1f262b, #1d2327, #1c2123, #1a1e20, #191b1c);  
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.panel_image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  scale: .85;

  @media(max-width: 780px){
    scale: 1;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;

  .content {
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  
    h3 {
      color: rgb(235, 235, 235);
      font-weight: 600;
      line-height: 1;
      font-size: 1.35rem;

      @media(max-width: 1040px){
        font-size: 1rem;
      }
    }
    p {
      color: rgb(218, 218, 218);
      font-size: 0.8rem;
      margin: 1rem 0;
      opacity: .8;

      @media(max-width: 1040px){
        font-size: 0.75rem;
      }
    }
    .btn.transparent {
      margin: 0;
      border: 2px solid #cfcfcf;
      color: #cfcfcf;
      font-weight: 600;
      font-size: 0.7rem;
      padding: .55rem 1rem;
      transition: .25s ease;
      background: hsl(0, 0%, 87%, .2);

      @media(max-width: 1040px){
        padding: .45rem 1rem;
        font-size: 0.65rem;
      }
    
      &:hover{
        background: hsl(0, 0%, 87%, .4);
        color:#eeeeee;
      }
    }
  }
}

.left-panel {
  pointer-events: all;
  padding: 3rem 12% 2rem 17%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.right-panel .panel_image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .panel_image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .panel_image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .panel_image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .panel_image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .panel_image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .panel_image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .panel_image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 67%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 32%;
    left: 50%;
  }
}