@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


$primary: #ec775f;
$primary-bright: #f36144;
$form-title: hsl(2, 73%, 68%);
$bg: hsl(205, 16%, 15%);
$errors-light: rgb(241, 70, 99);
$errors-strong: rgb(255, 0, 85);
$light-bg: #f5f5f5;
$page-link: rgb(255, 183, 155);
$modal-btn: rgb(238, 170, 93);
$modal-btn-hover: rgb(247, 160, 61);
$filter-btn: #00b58e;