@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$primary: rgb(236, 119, 95);
$primary-bright: #f36144;
$form-title: hsl(2, 73%, 68%);
$bg: hsl(205, 16%, 15%);
$errors-light: rgb(241, 70, 99);
$errors-strong: rgb(255, 0, 85);
$light-bg: #f5f5f5;
$page-link: rgb(255, 183, 155);
$modal-btn: rgb(238, 170, 93);
$modal-btn-hover: rgb(247, 160, 61);
$filter-btn: #00b58e;