@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


$primary: hsl(10, 79%, 65%);
$primary-bright: hsl(10, 88%, 61%);
$form-title: hsl(2, 73%, 68%);
$bg: hsl(205, 16%, 15%);
$errors-light: rgb(241, 70, 99);
$errors-strong: rgb(255, 0, 85);
$light-bg: #f5f5f5;