@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}
.skeleton .sidebar {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: hsl(205, 16%, 15%);
  transition: 0.15s ease;
  position: relative;
  position: fixed;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
@media (max-width: 1440px) {
  .skeleton .sidebar {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .skeleton .sidebar {
    width: 50px;
  }
}
.skeleton .sidebar .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.65rem 0 2rem 0;
}
.skeleton .sidebar .logo .techbridge {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0.65rem;
  border-bottom: 1.6px solid #424242;
}
@media (max-width: 600px) {
  .skeleton .sidebar .logo .techbridge {
    padding-left: 0.45rem;
  }
}
.skeleton .sidebar .logo .techbridge > span:nth-child(1) {
  width: 42px;
}
.skeleton .sidebar .logo .techbridge > span:nth-child(1) img {
  width: 100%;
}
.skeleton .sidebar .logo .techbridge > span:nth-child(2) {
  font-size: 1.15rem;
  font-weight: 700;
  margin-left: 0.75rem;
  opacity: 0.8;
  color: rgb(214, 214, 214);
}
@media (max-width: 1440px) {
  .skeleton .sidebar .logo .techbridge > span:nth-child(2) {
    display: none;
  }
}
@media (max-width: 780px) {
  .skeleton .sidebar .logo .techbridge > span:nth-child(2) {
    font-size: 1rem;
  }
}
.skeleton .sidebar .logo .sidebar_toggle {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 1440px) {
  .skeleton .sidebar .logo .sidebar_toggle {
    margin-left: 18px;
  }
}
.skeleton .sidebar .logo .sidebar_toggle .black_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: hsl(205, 16%, 15%);
  margin-top: 8px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.skeleton .sidebar .logo .sidebar_toggle .black_box span {
  width: 20px;
  height: 20px;
  border: 1.85px solid rgb(169, 167, 167);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(204, 201, 201);
  transition: 1s ease;
}
@media (min-width: 1441px) {
  .skeleton .sidebar .logo .sidebar_toggle .black_box span {
    display: none;
  }
}
.skeleton .sidebar .logo .sidebar_toggle .black_box span img {
  width: 14px;
  opacity: 0.65;
}
.skeleton .sidebar .logo .sidebar_toggle .black_box span:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.skeleton .sidebar .pages {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.skeleton .sidebar .pages .page_link {
  width: 100%;
  padding: 0.55rem 1rem 1rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 0.25s ease;
}
.skeleton .sidebar .pages .page_link > span:nth-child(1) {
  width: 24px;
}
@media (max-width: 1040px) {
  .skeleton .sidebar .pages .page_link > span:nth-child(1) {
    width: 22px;
  }
}
@media (max-width: 780px) {
  .skeleton .sidebar .pages .page_link > span:nth-child(1) {
    width: 20px;
  }
}
.skeleton .sidebar .pages .page_link > span:nth-child(1) img {
  transition: 0.3s ease;
  opacity: 0.85;
  width: 100%;
}
.skeleton .sidebar .pages .page_link > span:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 4px 1.25rem;
  color: rgb(247, 219, 208);
  transition: 0.25s ease;
}
@media (max-width: 1440px) {
  .skeleton .sidebar .pages .page_link > span:nth-child(2) {
    display: none;
  }
}
@media (max-width: 780px) {
  .skeleton .sidebar .pages .page_link > span:nth-child(2) {
    font-size: 12px;
  }
}
.skeleton .sidebar .pages .page_link:hover {
  background-color: rgb(51, 49, 54);
}
.skeleton .sidebar .pages .page_link:hover > span:nth-child(2) {
  color: rgb(255, 159, 121);
}
.skeleton .sidebar .pages .page_link:hover > span:nth-child(1) img {
  opacity: 1;
}
.skeleton .sidebar .pages .page_link.curr_page {
  background-color: rgb(51, 49, 54);
  border-right: 4px solid hsl(10, 79%, 65%);
}
.skeleton .sidebar .pages .page_link.curr_page > span:nth-child(2) {
  color: rgb(255, 159, 121);
}
.skeleton .sidebar .pages .page_link.curr_page > span:nth-child(1) img {
  opacity: 1;
}
.skeleton .sidebar .pages > a:nth-child(5) {
  margin-top: auto;
}
.skeleton .parent_container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 220px;
}
@media (max-width: 1440px) {
  .skeleton .parent_container {
    padding-left: 60px;
  }
}
@media (max-width: 600px) {
  .skeleton .parent_container {
    padding-left: 50px;
  }
}
.skeleton .parent_container .dynamic_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.8rem 0.25rem 0.35rem 0.75rem;
  border-bottom: 1.6px solid rgb(236, 236, 236);
  background-color: rgb(239, 243, 250);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 220px;
  z-index: 10;
}
@media (max-width: 1440px) {
  .skeleton .parent_container .dynamic_head {
    padding-left: 60px;
  }
}
@media (max-width: 600px) {
  .skeleton .parent_container .dynamic_head {
    padding-left: 50px;
  }
}
.skeleton .parent_container .dynamic_head .dynamic_title {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.7;
  margin-left: 0.5rem;
}
@media (max-width: 780px) {
  .skeleton .parent_container .dynamic_head .dynamic_title {
    font-size: 1rem;
  }
}
.skeleton .parent_container .dynamic_head .dynamic_profile {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .bell_box {
  width: 28px;
  margin: 4px 1rem 0 0;
}
@media (max-width: 780px) {
  .skeleton .parent_container .dynamic_head .dynamic_profile .bell_box {
    margin-right: 0.75rem;
  }
}
@media (max-width: 380px) {
  .skeleton .parent_container .dynamic_head .dynamic_profile .bell_box {
    margin-right: 0.45rem;
  }
}
.skeleton .parent_container .dynamic_head .dynamic_profile .bell_box img {
  width: 100%;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1.6px solid rgb(206, 206, 206);
  border-radius: 12px;
  padding: 0.2rem 0.25rem;
  margin-right: 0.75rem;
  background-color: #ccc;
}
@media (max-width: 780px) {
  .skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head {
    padding: 0.2rem 0.25rem;
  }
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .company_img {
  width: 30px;
  border-right: 1.4px solid #808080;
  padding-right: 0.25rem;
}
@media (max-width: 600px) {
  .skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .company_img {
    width: 26px;
  }
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .company_img img {
  width: 100%;
  opacity: 0.85;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .profile_brief {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 0.45rem;
  border-right: 1.4px solid #ccc;
  padding-right: 0.35rem;
  display: none;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .profile_brief > div:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.9;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .profile_brief > div:nth-child(2) {
  font-size: 10px;
  font-weight: 600;
  opacity: 0.9;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .drop_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 24px;
  margin-left: 0.25rem;
  opacity: 0.8;
  transition: 0.15s ease;
}
@media (max-width: 600px) {
  .skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .drop_container {
    width: 22px;
  }
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .drop_container img {
  width: 100%;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .drop_container:hover {
  opacity: 1;
  cursor: pointer;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .dropdown-btn.spin {
  transform: rotateX(180deg);
}
@media (max-width: 600px) {
  .skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-head .company_img {
    width: 28px;
  }
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal {
  border: 1.6px solid #a3a3a3;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 0.8rem 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 4.25rem;
  right: 0.85rem;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .client-credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .client-credentials > div:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .client-credentials > div:nth-child(2) {
  font-size: 12px;
  margin-top: 0.35rem;
  font-weight: 600;
  opacity: 0.8;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .logout_box {
  width: 100%;
  margin-top: 1rem;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .logout_box a {
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
  padding: 0.35rem 1rem;
  margin: 0 auto;
  background-color: #cccaca;
  border: 1.6px solid rgb(40, 40, 44);
  transition: 0.2s ease;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .logout_box a img {
  transition: 0.2s ease;
  width: 24px;
  opacity: 0.85;
  height: 24px;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .logout_box a span {
  transition: 0.2s ease;
  font-size: 12.5px;
  color: rgb(32, 32, 32);
  font-weight: 600;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .logout_box a:hover {
  background-color: hsl(205, 16%, 15%);
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .logout_box a:hover img {
  opacity: 1;
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .p-box-reveal .logout_box a:hover span {
  font-size: 14px;
  color: rgb(245, 245, 245);
}
.skeleton .parent_container .dynamic_head .dynamic_profile .profile_box .hidden {
  display: none;
}
.skeleton .parent_container .dynamic_body {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  padding: 1rem 0.5rem;
}

.skeleton.active .sidebar {
  width: 220px;
}
.skeleton.active .sidebar .logo .techbridge > span:nth-child(2) {
  display: block;
}
.skeleton.active .sidebar .logo .sidebar_toggle span {
  transform: rotateY(180deg);
}
.skeleton.active .sidebar .pages .page_link > span:nth-child(2) {
  display: block;
}
/*# sourceMappingURL=layout.css.map */
